<div class="row">
  <h3>{{profile.name}}'s Profile</h3>
</div>
<div class="row">
  <a href='#/list'>back</a>
</div>
<div class="row">
  <span class="col-md-3">
    <img class='profile-photo' ng-src="{{profile.photo}}"></img>
  </span>
  <span class="col-md-3">
    <span class="row">{{profile.name}}</span>
    <span class="row">{{profile.adress}}</span>
    <span class="row">
      <div class="profile-status">{{profile.status}}</div>
    </span>
  </span>
</div>
<div class="row">
  {{profile.bio}}
</div>
